<%- include('header') -%>
	<div class="container">
		<% articles.forEach(function(article, i){ %>
			<div class="jumbotron">
				<h1><%= article.title %></h1>
				<h6>
					<%= article.author.name %>
					<small class="ml-10"><%= article.created_time %></small>
					<small class="ml-10">评论数：<%= commentsCounts[i] %></small>
				</h6>
				<pre><%- article.contents %></pre>
				<p><a class="btn btn-primary" href="/article/<%= article._id %>" role="button">查看</a></p>
			</div>
		<% }) %>
	</div>
<%- include('footer') -%>