<nav class="navbar">
	<div class="container">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<% if (user) { %>
			<ul class="nav navbar-nav">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/img/<%= user.avater %>" alt="<%= user.name %>">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading"><%= user.name %></h4>
						<p><%= user.bio %></p>
					</div>
				</div>
			</ul>
			<% } %>
			<ul class="nav navbar-nav navbar-right">
				<% if (user) { %>
				<li><a href="/article">交流区</a></li>
				<li><a href="/article/?author=<%= user._id %>">个人主页</a></li>
				<li><a href="/article/create">发表文章</a></li>
				<li><a href="/user/setting">个人设置</a></li>
				<li><a href="/user/password">修改密码</a></li>
				<li><a href="/signout">登出</a></li>
				<% } else { %>
				<li><a href="/signin">登录</a></li>
				<li><a href="/signup">注册</a></li>
				<li><a href="/adminuser">管理入口</a></li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>